v\:* { 
	behavior:url(#default#VML);
}

#minimap {
	filter: alpha(opacity=90);
}

#background {
	filter: alpha(opacity=50);
}

#keys, #opts {
	width: expression(eval(document.documentElement.clientWidth)/2);
}

#rubberband {
	filter: alpha(opacity=50);
}
