#bar, #background, #minimap {
	display: none;
}

.table {
	border:1px solid #000000;
	background-color:none;
}

.row {
	background-color:none;
}

.table .shadow-corner, .shadow-right, .shadow-bottom  {
	display:none;
}

.table_title {
	font-weight:bold;
	font-size:115%;
	background-color:none;
}

